# Ignore node_modules directory
node_modules/

# Ignore npm-debug.log file
npm-debug.log

# Ignore .DS_Store files (macOS specific)
.DS_Store

# Ignore any build or compiled files
/dist
/build
/out

# Ignore any local environment files
.env
.env.local
.env.*.local

# Ignore any editor/IDE specific files
.idea/
.vscode/

